<%- include("./includes/head") %>
<section class="detail">
    <h1><%= post.title %></h1>
    <img src="<%= post.imgUrl %>" alt="">
    <p class="desc"><%= post.description %></p>
    <hr>
     <form action="/admin/post/<%= post._id %>" method="post">
        <button>Delete Post</button>
    </form> 
    <a class="btn-edit" href="/admin/post_edit/<%= post._id %>">Edit Post</a>
</section>

<%- include("./includes/footer") %>