<%- include("./includes/head") %>
<h1 class="title">Home Page</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium
    commodi aliquam quisquam in, fugiat reiciendis iste facilis
    necessitatibus harum quasi nam, itaque tenetur nisi, eum enim eaque
    aliquid esse id.</p>
<% if(isLogin) { %>
<a href="/admin/create">Add A Post Here</a>
<form action="/logout" method="post">
    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
    <button>Logout</button>
</form>
<% } else { %>
<a href="/register">Create A New Account</a>
<a href="/login">Login to An Existing Account</a>
<% } %>
<hr>
<h1 class="post">Posts</h1>
<% if(posts.length < 1) { %>
<div>
    <h3>Nothing to show</h3>
    <p>Create a post now!</p>
    <a href="/admin/create">Create A New Post</a>
</div>
<% }%>
<% for(let post of posts) { %>
<div class="post-box">
    <div>
        <p class="post-title"><%= post.title %></p>
        <p>Posted By <%= post.userId.email %></p>
    </div>
    <a class="btn" href="/post/<%= post._id %>">See More...</a>
</div>
<% } %>
<%- include("./includes/footer") %>